<div class="card">
    <div class="card-body">
      <div class="row card-title">
        <div class="col-10">
          <h3 class="">Goomba v Goomah</h3>
        </div>
        <div class="col-12 col-md-2">
          Jul 17, 20
        </div>
      </div>
      <p>
        The first 30 minutes of this episode are forever lost in the annals of our imaginations.
        As can be expected, Jason and Gary talk about timely pop-culture references such as E.T., Transformers, Borat, Leave it to Beaver, Pleasantville, Doogie Howser M.D., Mario Brothers, and the Sopranos.
        Find out why it's miserable to watch movies with Jason.
        Gary teaches Jason the difference between Goomba and goomah.
        Jason talks briefly about his new addiction to puzzles.
        Jason and Gary lay out some of the details of the soul-crushing "Guy in a Room." If you do steal it, please involve the boys in the production.
        It's all rounded out with too many uses of the word trope.
      </p>
      <button type="button" class="btn btn-secondary d-block">
        Download
        <i class="fas fa-download"></i>
      </button>
    </div>
  </div>